body {
}


.divcompanyinfo {
    float: left;
    width: 30%;
    height: 500px;
}

.divcontactform {
    float: right;
    width: 70%;
    height: 500px;
}

#Intro_Label {
    margin-top: 60px;
    margin-left: 9px;
    font-weight: bold;
}

#Emailus_label {
    margin-left: 9px;
    margin-top: 40px;
   
}

#txtboxmessage {
    margin-left: 9px;
    margin-top: 30px;
}

#txtboxname {
    margin-left: 9px;
    margin-top: 40px;
    height: 24px;
}

#txtboxemail {
    margin-left: 9px;
    margin-top: 40px;
    margin-bottom: 0px;
}

#txtboxphone {
    margin-left: 9px;
    margin-top: 40px;
}

#btnsend {
    margin-left: 9px;
    width: 90px;
    margin-top: 41px;
    background-color: orangered;
    color: white;
    height: 40px;
}

#btnclear {
    margin-left: 18px;
    width: 90px;
    background-color: orangered;
    color: white;
    height: 40px;
}


#Address_info,#Phone_label, #Email_label {
    font-weight: bold;
}

#Em_label, #In_label {
    color: orangered;
}


